<%= turbo_stream_from 'content' %> 

<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>


<h1>Fred Users</h1>

<div id="users">
  <% @fred_users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>

<h1 id="what"></h1>

<ul>
  <% @queries.each do |query| %> 
    <li>
      <h2>SQL <%= query %></h2>
      <%= link_to 'explain', explains_path(query:), target: '_blank' %>
    </li>
  <% end %>
</ul>
